<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthBar"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthBar"></div>
        </div>
      </section>
      <section v-if="winner" class="container">
           <h2>Game over</h2>
           <h3  v-if="winner == 'Draw'" style="color: black;">Draw</h3>
           <h3 v-if="winner == 'Player'" style="color: green;">You won the game</h3>
           <h3 v-if="winner == 'Monster'" style="color: red;">Monster won the game</h3>
      </section>
      <section id="controls" v-else>
        <button @click="attackMonster">ATTACK</button>
        <button @click="specialAttack" :disabled="mayUseSpecialAttack">SPECIAL ATTACK</button>
        <button @click="healPlayer">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="log of battleLog">
            <span v-if="log.who == 'player' && (log.what =='attack' || log.what=='special')" style="color:blue">You damaged Monster by {{log.value}}</span>
            <span v-else-if="log.who == 'monster' && log.what =='attack'" style="color:red">Monster damaged You by {{log.value}}</span>
            <span v-else-if="log.who == 'player' && log.what =='health'" style="color:green">You healed by {{log.value}}</span>
            <span v-else-if="log.who == 'player' && log.what =='Surrender'" style="color:black">You surrendered</span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
